name: MLflow Training Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    # Checkout Repository
    - name: Checkout code
      uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install Dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn
        # Jika ada requirements.txt, uncomment baris di bawah:
        # pip install -r requirements.txt

    # Train Model menggunakan MLflow Run
    - name: Run MLflow Project
      run: |
        cd Workflow-CI/MLProject
        mlflow run . --env-manager=local