name: MLflow Training Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn

    - name: Debug Folder Structure
      run: |
        echo "=== LIST FILE DI FOLDER MLProject ==="
        ls -R MLProject
        echo "====================================="

    - name: Run MLflow Project
      run: |
        cd MLProject
        rm -rf mlruns
        mlflow run . --env-manager=local

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-artifact
        path: MLProject/mlruns